/* Change search button color on hover */
.search button {
    background-color: #ffffff;
    color: #00034C;

}

.ais-SearchBox-input {
    border: 0 !important;
    box-shadow: none !important;
}

#searchbox{
    max-width: 500px auto;
    margin: 30px auto;
    border: 1px solid #00034C;
    border-radius: 8px;
}

#searchbox:hover{
    box-shadow: 0 1px 4px 0;
}

.search button:hover {
    background-color: #00034C;
}

.loading-gif {
    display: block;
    margin: 0 auto;
    width: 50%; /* Adjust width as needed */
    max-width: 200px; /* Optional: Set a maximum width */
  }
  

.results-container {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc; /* Add border for visual separation */
    background-color: #f9f9f9; /* Add background color for better visibility */
    max-height: 80px; /* Limit the height of the container */
    width: 1200px; /* Set the width to fit the content */
    overflow: hidden; /* Hide overflow content */
}

.truncated-content {
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Display ellipsis for truncated content */
}

.result-container {
    flex:1;
    padding: 30px;
    margin: 100px;
    border-radius: 10px;
    border: 1px solid #ccc; /* Add border for visual separation */
    background-color: #f9f9f9; /* Add background color for better visibility */
    text-align: justify;
    
}
