/* Change search button color on hover */
.search button {
    background-color: #ffffff;
    color: #00034C;

}

.search button:hover {
    background-color: #00034C;
}
.results-container {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc; /* Add border for visual separation */
    background-color: #f9f9f9; /* Add background color for better visibility */
    max-height: 80px; /* Limit the height of the container */
    overflow: hidden; /* Hide overflow content */
}

.truncated-content {
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Display ellipsis for truncated content */
}



.result-container {
    flex:1;
    padding: 10px;
    margin: 100px;
    border-radius: 10px;
    border: 1px solid #ccc; /* Add border for visual separation */
    background-color: #f9f9f9; /* Add background color for better visibility */

}



