
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    font-family: 'Sans', sans-serif;
    box-sizing: border-box;
    margin: 0%;
}
html,body {
    margin:0px;
    padding:0px;
    overflow-x: hidden;

}

.main-header {
    background-color: #00034C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Add padding to the header */
}

.dpsm-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px 0 10px;
}

.logo {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px; /* Adjust according to your logo size */
    height: auto;
    padding: 5px; /* Add padding to the logo */
}

.title {
    margin-left: 5px; /* Add space between logo and title */
    padding: 5px; /* Add padding to the title */
}

.sub-title {
    margin-left: 5px; /* Add space between title and sub-title */
}

.login-links {
    display: flex;
    justify-content: flex-end; /* Align login links to the right */
}

.logins {
    text-decoration: none;
    color: white;
    margin-left: 10px; /* Add space between login links (optional) */
}

.home-img {
    width: auto; /* Ensure the image doesn't exceed its container's width */
    height: 600px; /* Maintain aspect ratio */
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally */
}

.p-md-5{
    margin:0%;
}

.announcements{
    margin: 20px;
    font-weight: bolder;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); /* Change arrow color to black */
}

/* Optional: To change the color of the arrows on hover */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    filter: invert(100%); /* Change arrow color on hover */
}

.carousel-inner .container {
    display: flex;
    justify-content: center;
}

/* Custom CSS to extend or stretch text box */
.carousel-inner .col-md-6 .row {
    width: 100%;
}


.footer-contents{
    background-color: gray;
    align-content: space-between;
    margin: 0%;
}
.footer-contents .nav-link,
.footer-contents .text-body-secondary {
    color: black !important ;/* Change font color to black */
}

