.logout-links{
    display: flex;
    gap: 5px;
    color: white;
}
.logout-btn{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.logout-btn:hover{
    color: #D6EEEE;
    text-decoration: underline;
}

body{
    margin-top:20px;
    background:#f7f8fa
 }
 .card {
     margin-bottom: 20px;
     -webkit-box-shadow: 0 2px 3px #eaedf2;
     box-shadow: 0 2px 3px #eaedf2;
 }

 tr {
    border-bottom: 1px solid #D6EEEE;
  }
  .card-body p,
  .card-body h3 {
    text-decoration: none;
  }
  